h1, body
{
	font-family: 'Open Sans', sans-serif;
	color: #2AB0E8;
	font-size: 2.5em;
}

h1
{
	margin-top: 0px;
	margin-bottom: 0px;
	left: 100;
	
}

h2
{
	font-size: 2em;
	margin-bottom: 0px;
	margin-top: 0px;
}

.touchBox {
	float: left;
	width: 125px;
	height:125px;
	margin: 1px; 
	background-color:#2AB0E8;
	font-weight: normal;
	font-size: 14px;
	color: white;
	opacity: .75;
	filter: alpha(opacity = 75);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	text-align: center;
	
	position:relative;
	z-index:50;
}

#left
{
	left: 15%;
	font-size: 2em;
	text-align: left;
	width: 250px;
}

#right
{
	right: 15%;
	font-size: 2em;
	text-align: right;
	width: 250px;
}

#monthName
{
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 2em;
	width: 250px;
	text-align: center;
}

#today
{
	position: relative;
	font-size: 0.5em;
	margin-bottom: 10px;
}

#mainCal
{
	top: 0px;
	margin-left: 6%;
}